.home{
    min-height: 75vh;
    background-color: rgb(29, 29, 29);
    padding-top: 5vh;
}

/* .text{
    background-color: whitesmoke;
    align-self: center;
    width: 40%;
    margin: auto;
    height: 30vh;
} */